numpy
torch
Pillow
trio
opencv-python
onnxruntime
matplotlib
huggingface-hub
shapely
pyclipper
pdfplumber
PyMuPDF
python-doctr
cachetools
ruamel.yaml
strenum
peewee
flask
flask-login
itsdangerous
requests
pycryptodomex
filelock
vietocr
gdown
setuptools